body,h1,h2,h3,h4,h5,h6,div,ul,ol,li,tr,td,a,p{border:0;font-family:Helvetica, Arial;font-size:10px;list-style:none;margin:0;padding:0;}
body{padding-top:50px;text-align:center;}
a{color:#069;font-size:14px;}
#main,#controls{width:1095px;}
#main{margin:0 auto 50px;}
#tv,#videoInfo{float:left;}
#tv,#controls{-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
#tv{background-color:#333;padding:20px 0 20px 20px;width:825px;}
#dials{text-align:center;}
#dials .dial{background-color:#000;border:4px solid #666;display:block;cursor:pointer;margin:24px auto;overflow:hidden;width:48px;height:48px;-moz-border-radius:27px;-webkit-border-radius:27px;-o-border-radius:27px;border-radius:27px;}
#dials .dial:hover{background-color:#333;}
.spinnerThingy{width:48px;height:48px;-moz-transition:-moz-transform 2s ease-out;-webkit-transition:-webkit-transform 2s ease-out;-o-transition:-o-transform 2s ease-out;transition:transform 2s ease-out;}
.spinnerThingyInner{border-right:6px solid #fff;width:21px;height:48px;}
#videoPlayerContainer{background-color:#000;clear:left;padding-top:5px;min-height:390px;width:710px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;border-radius:50px;}
#videoPlayerContainer.show{display:block;}
#tvTitle{margin-top:15px;min-height:16px;width:780px;}
#tvTitle a{color:#ccc;font-size:16px;font-weight:bold;text-decoration:none;}
#videoInfo{background-color:#eeeeee;text-align:left;width:200px;}#videoInfo .content{padding:10px;}
#videoInfo p{font-size:14px;padding-bottom:10px;}
#videoInfo .label{margin:0;text-align:center;}
#sidePanel{float:right;width:90px;}
#rouletteBtn{font-size:24px;font-weight:bold;}
#controls{clear:left;margin:0 auto 40px;text-align:center;}
.control-panel{float:left;font-size:14px;margin-left:15px;width:200px;}.control-panel:nth-child(1){margin:0;}
.control-panel.active .label{color:#333;}
.control-panel .label{color:#333;font-size:16px;margin:10px 0 0;}
.control-panel ul{background-color:#eeeeee;height:310px;padding:10px 0;margin:0;overflow:auto;}.control-panel ul.show{height:100%;}
.control-panel ul a{background-color:#eeeeee;display:block;padding:5px 10px;text-decoration:none;}.control-panel ul a:hover,.control-panel ul a.selected{background-color:#069;color:#fff;}
.label{background-color:#ccc;font-size:32px;padding:10px 5px;}
