@import "mixins.less";

@borderColor: #333;
@headerSize: 16px;
@panelBgColor: #eee;

body, h1, h2, h3, h4, h5, h6, div, ul, ol, li, tr, td, a, p {
  border: 0;
  font-family: Helvetica, Arial;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  text-align: center;
}

a {
  color: #069;
  font-size: 14px;
}

#main, #controls {
  width: 1095px;
}

#main {
  margin: 0 auto 50px;
}

#tv, #videoInfo {
  float: left;
}

#tv, #controls {
  .rounded-corners(10px);
}

#tv {
  background-color: #333;
  padding: 20px 0 20px 20px;
  width: 825px;
}

#dials {
  text-align: center;
}

#dials .dial {
  background-color: #000;
  border: 4px solid #666;
  display: block;
  cursor: pointer;
  margin: 24px auto;
  overflow: hidden;

  width: 48px;
  height: 48px;

  .rounded-corners(27px);
}

#dials .dial:hover {
  background-color: #333;
}

.spinnerThingy {
  width: 48px;
  height: 48px;

  .transform-transition(2s, ease-out);
}

.spinnerThingyInner {
  border-right: 6px solid #fff;
  width: 21px;
  height: 48px;
}

#videoPlayerContainer {
  background-color: #000;

  clear: left;
  padding-top: 5px;

  min-height: 390px;
  width: 710px;

  .rounded-corners(50px);
}

#videoPlayerContainer.show {
  display: block;
}

#tvTitle {
  margin-top: 15px;
  min-height: 16px;
  width: 780px;
}

#tvTitle a {
  color: #ccc;
  font-size: @headerSize;
  font-weight: bold;
  text-decoration: none;
}

#videoInfo {
  background-color: @panelBgColor;
  text-align: left;
  width: 200px;

  .content {
    padding: 10px;
  }

  p {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .label {
    margin: 0;
    text-align: center;
  }
}

#sidePanel {
  float: right;
  width: 90px;
}

#rouletteBtn {
  font-size: 24px;
  font-weight: bold;
}

#controls {
  clear: left;
  margin: 0 auto 40px;
  text-align: center;
}

.control-panel {
  float: left;
  font-size: 14px;
  margin-left: 15px;
  width: 200px;

  &:nth-child(1) {
    margin: 0;
  }

  &.active .label {
    color: #333;
  }

  .label {
    color: #333;
    font-size: @headerSize;
    margin: 10px 0 0;
  }

  ul {
    background-color: @panelBgColor;
    height: 310px;
    padding: 10px 0;
    margin: 0;
    overflow: auto;

    &.show {
      height: 100%;
    }

    a {
      background-color: @panelBgColor;
      display: block;
      padding: 5px 10px;
      text-decoration: none;

      &:hover, &.selected {
        background-color: #069;
        color: #fff;
      }
    }
  }
}

.label {
  background-color: #ccc;
  font-size: 32px;
  padding: 10px 5px;
}
