body, h1, h2, h3, h4, h5, h6, div, ul, ol, li {
  border: 0;
  font-family: Helvetica, Arial;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
body, h1 {
  text-align: center;
}

#pageTitle {
  font-size: 64px;
  margin: 20px 0;
}

#rouletteBtn {
  font-size: 24px;
  font-weight: bold;
}

#chooserWrapper {
  background-color: #009;
  border: 1px solid #000;
  margin: 0 auto 40px;
  padding: 1em;
  text-align: center;
  width: 805px; /* 400*2 + 5 */
  height: 300px;
}

#chooser {
  background-color: #fff;
  height: 300px;
}

#playlist,
#video {
  float: left;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

.label {
  height: 40px;
}

.wheelContainer {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.gradientTop,
.gradientBottom {
  height: 40px;
  width: 100%;

  position: absolute;
}

.gradientTop {
  background-image: -moz-linear-gradient(bottom, transparent, #000);
  background-image: -ms-linear-gradient(bottom, transparent, #000);
  background-image: -o-linear-gradient(bottom, transparent, #000);
  background-image: -webkit-linear-gradient(bottom, transparent, #000);
  top: 0;
}

.gradientBottom {
  background-image: -moz-linear-gradient(bottom, #000, transparent);
  background-image: -ms-linear-gradient(bottom, #000, transparent);
  background-image: -o-linear-gradient(bottom, #000, transparent);
  background-image: -webkit-linear-gradient(bottom, #000, transparent);
  bottom: 0;
}

.wheel {
  margin: 0;
  padding-bottom: 200px;
  position: relative;
  width: 100%;

  -moz-transition:    top 2s ease-out;
  -o-transition:      top 2s ease-out;
  -webkit-transition: top 2s ease-out;
  -ms-transition:     top 2s ease-out;
  transition:         top 2s ease-out;
}

.wheel.ui-draggable-dragging {
  -moz-transition:    none;
  -o-transition:      none;
  -webkit-transition: none;
  -ms-transition:     none;
  transition:         none;
}

li.wheelItem {
  /*border-bottom: 1px solid #ccc;*/
  cursor: pointer;
  font-size: 24px;
  padding: 15px 0;
}

#video {
  border-left: 5px solid #000;
}

.label {
  background-color: #ccc;
  font-size: 32px;
  padding: 5px;
}

#videoPlayerContainer {
  background-color: #000;
  border: 20px solid #45250d;
  clear: left;
  margin: 0 auto;
  width: 640px;
  min-height: 385px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#videoPlayerContainer.show {
  display: block;
}

.videoList {
  display: none;
}

.videoList.selected {
  display: block;
}
