body, h1, h2, h3, h4, h5, h6, div, ul, ol, li {
  border: 0;
  font-family: Helvetica, Arial;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
body, h1 {
  text-align: center;
}

#pageTitle {
  font-size: 64px;
  margin: 20px 0;
}

#rouletteBtn {
  font-size: 24px;
  font-weight: bold;
}

#chooserWrapper {
  background-color: #009;
  border: 1px solid #000;
  margin: 0 auto 40px;
  padding: 1em;
  text-align: center;
  width: 805px; /* 400*2 + 5 */
  height: 300px;
}

#chooser {
  background-color: #fff;
  height: 300px;
}

#playlist,
#video {
  float: left;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

.label {
  height: 40px;
}

.wheelContainer {
  height: 250px;
  overflow: hidden;
}

.wheel {
  margin: 0;
  padding-bottom: 200px;
  width: 100%;

  -moz-transition:    margin 2s ease-out;
  -o-transition:      margin 2s ease-out;
  -webkit-transition: margin 2s ease-out;
  -ms-transition:     margin 2s ease-out;
  transition:         margin 2s ease-out;
}

li.wheelItem {
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  padding: 15px 0;
}

#video {
  border-left: 5px solid #000;
}

.label {
  background-color: #ccc;
  font-size: 32px;
  padding: 5px;
}

#videoPlayerContainer {
  clear: left;
}

.videoList {
  display: none;
}

.videoList.selected {
  display: block;
}
